@media screen and (max-width: 1024px) {
    .wrapper-header-laptop {
        left: 90.5%;
    }

    .absolute-icon-header {
        top: 8px;
        left: 11px;
    }

    .hover-icon-navbar {
        left: 14px;
    }

    .bars-icon {
        width: 48.5px;
        height: 48px;
    }

    .navbar-laptop {
        width: 58px;
        left: -2px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper-header-laptop {
        left: 89%;
    }
}

@media screen and (max-width: 426px) {
    .wrapper-header-laptop {
        display: none;
    }

    .wrapper-header-mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        display: block;
        z-index: 999;
        background-color: #fff;
        padding: 1.2rem 0;
        border-radius: 40px 40px 0 0;
        box-shadow: 0px 2px 7px #e0e0e0, 0px -2px 7px #e0e0e0;
    }

    .navbar-mobile {
        display: flex;
        justify-content: space-evenly;
    }

    .custom-icon {
        margin-right: 0rem;
    }
}