.wrapper-header-laptop {
    display: flex;
    justify-content: end;
    position: fixed;
    left: 95%;
    z-index: 999;
}

.text-header {
    font-weight: 700;
    font-size: 35px;
}

.custom-icon:hover{
    color: #04764e;
}

.navbar-laptop{
    transform: translateX(150px);
    transition: all .5s ease-in-out;
}

.navbar-laptop.show{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.navbar-laptop.hide{
    opacity: 0;
    visibility: hidden;
    transform: translateX(150px);
}

.custom-icon.backend{
    transform: rotateY(180deg);
}

.custom-icon.frontend{
    transform: rotateY(-180deg);
}

.bars-icon{
    position: relative;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}

.custom-icon.show{
    opacity: 1;
    visibility: visible;
    transform: rotateY(0deg);
}

.custom-icon.hide{
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-90deg);
}

.custom-icon.active{
    color: #04764e;
}