.wrapper-header-laptop {
    position: fixed;
    left: 92.5%;
    z-index: 999;
}

.wrapper-header-mobile {
    display: none;
}

.text-header {
    font-weight: 700;
    font-size: 35px;
}

.hover-icon-navbar{
    position: absolute;
    left: 16px;
}

.hover-icon-navbar:nth-child(1){
    top: 30px;
}

.hover-icon-navbar:nth-child(2){
    top: 100px;
}

.hover-icon-navbar:nth-child(3){
    top: 170px;
}

.hover-icon-navbar:last-child{
    top: 240px;
}

.navbar-laptop{
    position: absolute;
    left: -5px;
    top: 13rem;
    background-color: #04764e;
    border-radius: 50px;
    width: 62px;
    height: 310px;
    transform: translateX(150px);
    transition: all .5s ease-in-out;
}

.navbar-laptop.show{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}

.navbar-laptop.hide{
    opacity: 0;
    visibility: hidden;
    transform: translateX(150px);
}

.custom-icon.backend{
    transform: rotateY(180deg);
}

.custom-icon.frontend{
    transform: rotateY(-180deg);
}

.bars-icon{
    position: relative;
    background-color: #04764e;
    width: 53px;
    height: 53px;
    border-radius: 5px;
}

.absolute-icon-header{
    position: absolute;
    top: 9.5px;
    left: 13px;
}

.custom-icon.show{
    opacity: 1;
    visibility: visible;
    transform: rotateY(0deg);
}

.custom-icon.hide{
    opacity: 0;
    visibility: hidden;
    transform: rotateY(-90deg);
}

.custom-icon.active{
    color: #fff;
}