@media screen and (max-width: 1024px) {

    .bg-banner {
        height: 400px;
    }

    .btn-buy-banner {
        font-size: 16px;
    }

    .text-intro-banner {
        font-size: 160px;
    }

    .image-intro-banner img {
        width: 75%;
    }

    .image-intro-banner {
        left: 44%;
    }

    .text-intro-banner {
        left: 71%;
    }

    .w-40 {
        width: 50%;
    }

    .image-product-hot-banner {
        width: 125px;
        height: 125px;
    }

    .grid-product-hot-banner {
        height: 120px;
    }

    .group-products-left {
        width: 100%;
        margin: 0;
    }

    .margin-gridText-text-left {
        margin: 4.5rem 0 0 3rem;
    }

    .margin-gridText-text-right {
        margin: 4.5rem 0 0 0;
    }

    .bg-about-product {
        margin-top: 3rem;
        height: 300px;
    }

    .support-text h2 {
        font-size: 16px;
    }

    .support-text span {
        font-size: 13px;
    }

    .btn-buy-detail {
        font-size: 16px;
    }

    .btn-buy-detail {
        padding: .7rem 0;
    }

    .img-about-product {
        width: 60px;
        height: 65px;
    }
}

@media screen and (max-width: 768px) {

    .logo-title-banner-home {
        width: 55px;
        height: 60px;
    }

    .bg-banner {
        height: 360px;
        width: 75%;
    }

    .btn-buy-banner {
        font-size: 14px;
    }

    .text-intro-banner {
        font-size: 120px;
        top: 9.5rem;
    }

    .image-intro-banner img {
        width: 65%;
    }

    .image-intro-banner {
        top: 7rem;
    }

    .w-40 {
        width: 50%;
    }

    .image-product-hot-banner {
        width: 100px;
        height: 100px;
    }

    .grid-product-hot-banner {
        height: 110px;
        width: 110px;
    }

    .margin-gridText-text-left {
        margin: 2.5rem 0 0 2rem;
    }

    .margin-gridText-text-right {
        margin: 4.5rem 0 0 0;
    }
}

@media screen and (max-width: 426px) {

    .text-intro-banner {
        display: none;
    }

    .txt-header {
        font-size: 35px;
    }

    .bg-banner {
        width: 100%;
        border-bottom-right-radius: 220px;
    }

    .image-intro-banner {
        top: 10rem;
    }

    .image-intro-banner img {
        width: 100%;
    }

    .image-intro-banner {
        left: 60%;
    }

    .grid-product-hot-banner {
        height: 95px;
        width: 100px;
    }

    .btn-buy-banner {
        font-size: 13px;
    }

    .support-text h2 {
        font-size: 13px;
    }

    .support-text span {
        font-size: 11px;
    }

    .img-about-product {
        width: 40px;
        height: 45px;
    }

    .bg-about-product {
        height: 270px;
    }

    .margin-gridText-text-left {
        margin: 2rem 0 0 2.5rem;
    }

    .grid-group-products {
        grid-template-columns: auto;
    }

    .border-top-right {
        border-radius: 250px 250px 10px 10px;
    }

    .grid-group-products.middle {
        display: none;
    }
}