.wrapper-product {
    height: 100%;
    position: relative;
    animation: fadeShow .75s ease-in-out;
}

.bg-banner-product {
    width: 75%;
    height: 862px;
    background-color: #fff !important;
    border-bottom-right-radius: 300px;
}

.img-banner-product{
    display: flex;
    justify-content: end;
    position: relative;
}

.img-banner-product img{
    width: 80%;
    height: 75%;
    border-bottom-right-radius: 300px;
    border-top-left-radius: 300px;
}

.group-information-banner-product{
    height: 360px;
    width: 500px;
    position: absolute;
    top: 30%;
    left: 12%;
}

.bg-information-banner-product{
    background-color: rgb(255, 255, 255, .2);
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.active-line-product{
    width: 14%;
    border-bottom: 7px solid #04764e;
    cursor: pointer;
    transform: translateX(-300px);
    transition: all .5s ease-in-out;
    border-radius: 10px;
}

.active-line-product.move-center-line{
    transform: translateX(0px);
}

.active-line-product.move-right-line{
    transform: translateX(300px);
}

.grid-page-products{
    width: 60%;
    margin: auto auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    background-image: url(../assets/bg_team.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 6rem;
}

.box-page-product{
    width: 350px;
    height: 280px;
    background-color: #f1f1f1;
    border-radius: 10px;
    position: relative;
    border-radius: 150px 10px 150px 10px;
    display: flex;
    align-items: flex-end;
}

.pos-image-page-product{
    position: absolute;
    top: -40%;
    left: 25%;
}