@media screen and (max-width: 1024px) {

    .pl-3 {
        padding-left: 1.5rem;
    }

    .pt-1-5 {
        padding-top: 1rem;
    }

    .pl-9 {
        padding-left: 4.5rem;
    }

    .pr-9 {
        padding-right: 4.5rem;
    }

    .pt-6 {
        padding-top: 5rem;
    }

    .pb-3 {
        padding-bottom: 1.5rem;
    }

    .pt-3 {
        padding-top: 1.5rem;
    }

    .mt-6 {
        margin-top: 3rem;
    }

    .mt-3 {
        margin-top: 1.5rem;
    }

    .mt-2 {
        margin-top: 1rem;
    }
    
    .mt-1 {
        margin-top: .5rem;
    }

    .custom-icon {
        font-size: 36px;
    }

    .custom-icon-35 {
        font-size: 31px;
    }

    .txt-label-70 {
        font-size: 67px;
    }

    .txt-label-25 {
        font-size: 21px;
    }

    .txt-label-20 {
        font-size: 16px;
    }

    .txt-label-18 {
        font-size: 14px;
    }

    .txt-label-60 {
        font-size: 56px;
    }

    .txt-label-40 {
        font-size: 36px;
    }

    .txt-label-50 {
        font-size: 46px;
    }
}