@media screen and (max-width: 1024px) {

    .pl-3 {
        padding-left: 1.5rem;
    }

    .pt-1-5 {
        padding-top: 1rem;
    }

    .pl-9 {
        padding-left: 4.5rem;
    }

    .pr-9 {
        padding-right: 4.5rem;
    }

    .pl-6 {
        padding-left: 2rem;
    }

    .pr-6 {
        padding-right: 2rem;
    }

    .pt-6 {
        padding-top: 5rem;
    }

    .pb-3 {
        padding-bottom: 1.5rem;
    }

    .pt-3 {
        padding-top: 1.5rem;
    }

    .mt-6 {
        margin-top: 3rem;
    }

    .mt-3 {
        margin-top: 1.5rem;
    }

    .mt-2 {
        margin-top: 1rem;
    }
    
    .mt-1 {
        margin-top: .5rem;
    }

    .custom-icon {
        font-size: 32px;
    }

    .custom-icon-35 {
        font-size: 30px;
    }

    .txt-label-70 {
        font-size: 67px;
    }

    .txt-label-50 {
        font-size: 35px;
    }

    .txt-label-25 {
        font-size: 21px;
    }

    .txt-label-20 {
        font-size: 16px;
    }

    .txt-label-18 {
        font-size: 14px;
    }

    .txt-label-60 {
        font-size: 35px;
    }

    .txt-label-35 {
        font-size: 20px;
    }

    .txt-label-40 {
        font-size: 36px;
    }

    .w-50 {
        width: 70%;
    }
}

@media screen and (max-width: 768px) {

    .mt-5 {
        margin-top: 3rem;
    }
    
    .pr-1 {
        padding-right: .5rem;
    }

    .pl-1 {
        padding-left: .5rem;
    }

    .txt-label-70 {
        font-size: 50px;
    }

    .txt-label-25 {
        font-size: 21px;
    }

    .txt-label-20 {
        font-size: 14px;
    }

    .txt-label-18 {
        font-size: 12px;
    }

    .txt-label-16 {
        font-size: 12px;
    }

    .w-70 {
        width: 60%;
    }

    .w-35 {
        width: 50%;
    }
}